extends base.jade
block content
  .container
      .row
        for pdu in pdus
          include card.jade



block othernav
   ul.nav
      li.active
         a(href="/dashboard") Home
      li
         a(href="/") Admin Page

block account 
  ul.nav.pull-right
    form.navbar-search.pull-left
      input.search-query(type='text', placeholder='Search')
  ul.nav.pull-right
    li.dropdown
      a.dropdown-toggle(href="#", data-toggle='dropdown', role="button")=user
        b.caret
      ul.dropdown-menu.pull-right
        li
          a(role="menu" ,href="/settings") Settings
        li
          a(role="menu" ,href="/logout") Logout

block scripts
  | {{ super() }}
  script
    window.pdu_count = #{pdu_count};
    function requestInfo(pdu){
        var xmlhttp = ajaxRequest();
        xmlhttp.onreadystatechange=function(){
            if (xmlhttp.readyState === 4){
                if (xmlhttp.status === 200){
                    var jdata=JSON.parse(xmlhttp.responseText);
                    console.log(jdata)
                    $("p#uptime_pdu"+pdu).html(jdata['uptime']);
                    $("p#cons_pdu"+pdu).html(jdata['consumption']);
                    $("p#price_pdu"+pdu).html(jdata['price']);
                }else if (xmlhttp.status === 500){
                    $("p#uptime_pdu"+pdu).html("No Data");
                    $("p#cons_pdu"+pdu).html("No Data");
                    $("p#price_pdu"+pdu).html("No Data");
                }
            }
        }
        xmlhttp.open("GET","/pdu/info/"+pdu);
        xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xmlhttp.send();
    }
    function requestStatus(){
      var xmlhttp = ajaxRequest();
        xmlhttp.onreadystatechange=function(){
            if (xmlhttp.readyState === 4){
                if (xmlhttp.status === 200){
                    console.log(xmlhttp.responseText);
                    var jdata=JSON.parse(xmlhttp.responseText);
                    for (var pud_id in jdata){
                      if (jdata[pud_id] === "Online")
                        $("p#stat_pdu"+pud_id).html("<span class='label label-success'>Online</span>");
                      else
                        $("p#stat_pdu"+pud_id).html("<span class='label label-important'>Offline</span>");
                    }
                }
            }
        }
        url = "/pdu/status?ids=";
        for (var pdu_ = 1 ; pdu_ <= window.pdu_count; pdu_++) {
          url += pdu_;
          if (pdu_ !== window.pdu_count) url += ",";
        }
        xmlhttp.open("GET",url);
        xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xmlhttp.send();
    }
    if (window.pdu_count > 0){
      window.setInterval(function refresh(){
         for (var pdu_ = 1 ; pdu_ <= window.pdu_count; pdu_++) {
            requestInfo(pdu_);
         };
      },3000);
      window.setInterval(function getStatus(){
        requestStatus();
      },4000);
    }