extends base.jade
block content
  .container
    .is-padded  
      h1.text-center #{name}
      .row
        .span3
          ul.nav.nav-list.well
            li.nav-header PDU Information
            li
              table
                tr
                  td.span1 <b>Status</b>
                  td#status
                    span.label.label-alert Loading ...
                tr
                  td.span1 <b>Uptime</b>
                  td#uptime
                    span.label.label-alert Loading ...
                tr
                  td.span1 <b>Consu</b>
                  td#cons
                    span.label.label-alert Loading ...
                tr
                  td.span1 <b>Price</b>
                  td#price
                    span.label.label-alert Loading ...

            li.divider
        .span8.well#graph(height="400px")

block othernav
   ul.nav
      li
         a(href="/dashboard") Home
      li
         a(href="/") Admin Page

block account 
  ul.nav.pull-right
    form.navbar-search.pull-left
      input.search-query(type='text', placeholder='Search')
  ul.nav.pull-right
    li.dropdown
      a.dropdown-toggle(href="#", data-toggle='dropdown', role="button")=user
        b.caret
      ul.dropdown-menu.pull-right
        li
          a(role="menu" ,href="/settings") Settings
        li
          a(role="menu" ,href="/logout") Logout

block scripts
  | {{ super() }}
  script(src='/static/highcharts-3.0.4/js/highcharts.js')
  script
    window.status_ = 'offline';
    
    function displayData(data){
      $('#graph').highcharts({
        chart: {
            type: 'line'
        },
        title: {
            text: 'Power Consumption'
        },
        xAxis: {
            title:{
                text: 'Time'
            }
        },
        yAxis: {
            title: {
                text: 'Power (kW)'
            }
        },
        series: [{
            name: data['name'],
            data: data['data']
        }],
        plotOptions: {
          series: {
            animation: false
          }
        }
      });
    }
    function refreshGraph(){
      var xmlhttp = ajaxRequest();
      xmlhttp.onreadystatechange=function(){
          if (xmlhttp.readyState === 4){
              if (xmlhttp.status === 200){
                  var jdata=JSON.parse(xmlhttp.responseText);
                  displayData(jdata);
              }
          }
      }
      xmlhttp.open("GET","/graph_data/"+#{pdu_id});
      xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xmlhttp.send();
    }
    function requestStatus(){
      var xmlhttp = ajaxRequest();
      xmlhttp.onreadystatechange=function(){
          if (xmlhttp.readyState === 4){
              if (xmlhttp.status === 200){
                  var jdata=JSON.parse(xmlhttp.responseText);
                  for (var pud_id in jdata){
                    if (jdata[pud_id] === "Online"){
                      $("td#status").html("<span class='label label-success'>Online</span>");
                      if (window.status_ !== 'online') window.status_ = 'online';
                      
                    }else{
                      $("td#status").html("<span class='label label-important'>Offline</span>");
                      if (window.status_ === 'online') window.status_ = 'offline'
                    }
                  }
              }
          }
      }
      url = "/pdu/status?ids="+#{pdu_id};
      xmlhttp.open("GET",url);
      xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xmlhttp.send();
    }
    
    function requestInfo(){
        var xmlhttp = ajaxRequest();
        xmlhttp.onreadystatechange=function(){
            if (xmlhttp.readyState === 4){
                if (xmlhttp.status === 200){
                    var jdata=JSON.parse(xmlhttp.responseText);
                    $("td#uptime").html(jdata['uptime'])
                    $("td#cons").html(jdata['consumption'])
                    $("td#price").html(jdata['price'])
                }
            }
        }
        xmlhttp.open("GET","/pdu/info/"+#{pdu_id});
        xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xmlhttp.send();
    }
    window.setInterval(function(){ 
      requestStatus();
      if (window.status_ === 'online') {
        requestInfo();
        refreshGraph()
      }
    },1000);
    requestStatus();